<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>


  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" executionTimeout="360000" minLocalRequestFreeThreads="8" />
    <!--<customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error.aspx" />
      <error statusCode="500" redirect="error.aspx" />
    </customErrors>-->
    <globalization culture="en-US" fileEncoding="Windows-1252" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" />
    <pages validateRequest="false"></pages>

  </system.web>
  <connectionStrings>
    <add name="ADConnection" connectionString="LDAP://ctpl.in:389/CN=Adms.dotnet2,OU=ADUsers,DC=ctpl,DC=IN" />
    <!--<add name="SQLCnnString" connectionString="Data Source=(DESCRIPTION=(ADDRESS =(PROTOCOL=TCP)(HOST=192.168.7.199)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HERGO_ESOP)));User Id=esop;Password=esop;" />-->
    <!--<add name="SQLCnnString" connectionString="Data Source=(DESCRIPTION=(ADDRESS =(PROTOCOL=TCP)(HOST=192.168.7.107)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HERGOESOP)));User Id=esop;Password=esop;" />-->
    <add name="SQLCnnString" connectionString="Data Source=(DESCRIPTION=(ADDRESS =(PROTOCOL=TCP)(HOST=192.168.6.168)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HERGOESOP)));User Id=ESOP;Password=ESOP;" />

  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Host" value="email.cloverinfotech.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="Port" value="25" />
    <add key="CCMail" value="Prashant.Shinde@cloverinfotech.com,rahul.natu@cloverinfotech.com,varunh.upadhyay@cloverinfotech.com" />
    <add key="SendMail" value="Yes" />
    <add key="SendMail_Functionality" value="ON" />

    <add key="CheckLDAP" value="false" />
    <add key="ErrorLogPath" value="D:\AppError" />
    <add key="DomainName" value="www.HDFCCHUBINDIA.COM" />
    <add key="ADSPath" value="LDAP://10.62.211.14:389" />
    
    <!--Comment on ESOP Local-->
    <!--<add key="CSV" value="D:\Rahul_Natu\ESOP_Publish\MyFolder\abc1.csv"/>
    <add key="CSV_1" value="D:\Rahul_Natu\ESOP_Publish\MyFolder\abc2.csv"/>-->
    <!--END-->
    
    <!--Comment on ESOP Publish-->
    <add key="CSV" value="E:\Sushil\ESOP_RBT_Live\ESOP\MyFolder\abc1.csv"/>
    <add key="CSV_1" value="E:\Sushil\ESOP_RBT_Live\ESOP\MyFolder\abc2.csv"/>
    <!--END-->
    
    <!--<add key="ctl" value="esop/esop@(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.7.199)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = HERGO_ESOP)))" />-->
    <!--<add key="ctl" value="esop/esop@(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.7.107)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = HERGOESOP)))" />-->
    <add key="ctl" value="ESOP/ESOP@(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.6.168)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = HERGOESOP)))" />
    <add key="Mail_To" value="pallavi.chaware@cloverinfotech.com" />

    <add key="LinK_UserName" value="adms.dotnet2" />
    <add key="Link_UserPassword" value="Clover@123" />
    <!--<add key="LinK_UserName" value="" />
    <add key="Link_UserPassword" value="" />-->
    <add key="Link" value="\\192.168.7.199\Temp\" />
  
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>
